.container {
  width: 90%;
  padding: 20px;
  margin: 50px auto;
}

h2 {
  font-family: Playfair Display;
  text-transform: capitalize;
  font-weight: bold;
}

.search {
  margin-bottom: 50px;
  width: 60%;
}

.button1 {
  width: 50%;
  height: 37px;
  font-weight: bold;
  margin-left: auto;
  margin-bottom: 3px;
}
